/* Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

a {
    color: #32863A;
}

/* Header */

header {
    margin: 0;
}

/* Navigation bar */
.nav-item .nav-link {
    font-family: Lora, sans-serif;
    font-size: large;
    letter-spacing: 5px;
    padding: 15px;
}

/* Main area on home page */


#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 

    position: relative;
    margin-bottom: 20px;
}

#hero-image {
    min-height: 100%;
    width: 100%;
    background: url('/static/images/restaurant_image.jpg') no-repeat 95% 50%;
    background-size: cover;
    


    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}

#cover-text {
    font-size: 150%;
    font-family: Lora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;

    width: 950px;
    height: 160px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(50, 134, 58, .7);

    bottom: 325px;
    right: 500px;

    position: absolute
}

#cover-text, #cover-text h2 {
    line-height: normal;
}


#cover-text, #cover-text h3 {
    font-size: medium;
    color: #FFFFFF;
    font-style: oblique;
    text-align: center;
}

.fa-seedling {
    font-size: x-large;
    color: #FFFFFF;
}

/* Menu page */


.background-image {
    background-image: url('/static/images/main_image_min.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box {
    opacity: .5;
}

#menus {
    height: 600px;
}

#menus, h2 {
    line-height: 132px;
}

#menus, p{ 
    line-height: 25px;
}

#lunch-menu {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#cocktail-menu {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#dinner-menu {
    width: 33%;
    margin: 0 auto;
    }

hr {
    border-top: 5px solid #FFFFFF;
    width: 100%;
    margin: 5px 0;
}

.lunch-menu {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.cocktail-menu {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#check-out-our-menus {
    text-align: center;
    font-size: 280%;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ffffff;
    background-color: rgba(50, 134, 58, .7);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;

}

.download-button {
    text-align: center;
    color: #ffffff;
    font-family: Lora, sans-serif;
    font-size: medium;
    font-weight: 300;
}

.menu_options {
    color: #FFFFFF;
}

/* login page*/

.login-image {
    background-image: url('/static/images/salad_bowl.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: auto;
    height: 595px;
    padding-top: 22px;
    padding-left: 170px;
    border-style: solid;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    margin-top: 1px;
    text-align: center;

}


/* register page*/

.register-image {
    background-image: url('/static/images/pizza_image_min.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.square-container {
    width: 1100px;
    height: 675px;
    padding-left: 170px;
    border-style: solid;
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.788);
    border-width: 1px;
    margin-left: 450px;
    text-align: center;

}

/* booking page */

.book_a_table {
    background-image: url('/static/images/restaurant_image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.booking_container {
    width: 800px;
    height: 750px;
    padding-left: 137px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: rgba(50, 134, 58, .5);
    border-width: 1px;
    margin: auto;
}

.login_container {
    width: 800px;
    height: 550px;
    padding-left: 137px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: rgba(50, 134, 58, .5);
    border-width: 1px;
    margin: auto;
    padding-top: 71px;
}


/* My Bookings */ 

.my_bookings_container {
    width: 800px;
    height: auto;
    padding-left: 137px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: rgba(50, 134, 58, .5);
    border-width: 1px;
    margin: auto;
}

.card {
    color: #32863A;
}



/*Thank you page*/

.link {
    color: #FFFFFF;


}

#thank-you-image {
    height: 600px;
    width: 100%;
    background: url('/static/images/bowl_of_fruit.jpg') center, center;
    


    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}

#outer-box {
    font-size: 150%;
    font-family: Lora, sans-serif;
    color: #FFFFFF;
    text-align: center;
    height: auto;
    background-color: rgba(50, 134, 58, .7);
    bottom: 325px;
    right: 500px;
    position: absolute;
}
/* Footer */

#footer {
    margin-top: 10px;
}

#footer .fa {
    color: #32863A;
    font-size: large;
    padding: auto;
}

.col-sm-4 {
    text-align: center;
    padding: 0 25;
}

