/* Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Header */

header {
    margin: 0;
}

/* Navigation bar */
.nav-item .nav-link {
    font-family: Lora, sans-serif;
    font-size: large;
    color: #32863A;

}

.nav-pill {
    color: #32863A;
}

/* Main area on home page */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 

    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pizza_image_min.jpg') center;
    


    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}

#cover-text {
    font-size: 150%;
    font-family: Lora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;

    width: 950px;
    height: 160px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(50, 134, 58, .7);

    bottom: 325px;
    right: 500px;

    position: absolute
}

#cover-text, #cover-text h3 {
    font-size: medium;
    color: antiquewhite;
    font-style: oblique;
    text-align: center;
}

.fa-regular {
    font-size: x-large;
    color: antiquewhite;
}


/* Footer */

.fa{
    color: #32863A;
    font-size: large;
    padding: auto;
}