/* Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Header */

header {
    margin: 0;
}

/* Navigation bar */
.nav-item .nav-link {
    font-family: Lora, sans-serif;
    font-size: large;
    letter-spacing: 5px;
    color: #32863A;
    padding: 15px;

}

.nav-pill {
    color: #32863A;
}

/* Main area on home page */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 

    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pizza_image_min.jpg') center;
    


    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}

#cover-text {
    font-size: 150%;
    font-family: Lora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;

    width: 950px;
    height: 160px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(50, 134, 58, .7);

    bottom: 325px;
    right: 500px;

    position: absolute
}

#cover-text, #cover-text h3 {
    font-size: medium;
    color: #FFFFFF;
    font-style: oblique;
    text-align: center;
}

.fa-regular {
    font-size: x-large;
    color: #FFFFFF;
}

/* Menu page */

#menus {
    height: 600px;
}

#menus, h2 {
    line-height: 132px;
}

#menus, p{ 
    line-height: 25px;
}

#lunch-menu {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#afternoon-tea-menu {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#dinner-menu {
    width: 33%;
    margin: 0 auto;
    }

hr {
    border-top: 5px solid #FFFFFF;
    width: 100%;
    margin: 5px 0;
}

.lunch-menu {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.afternoon-tea-menu {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#check-out-our-menus {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #32863A;
    background-color: rgba(50, 134, 58, .7);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;

}

.download-button {
    text-align: center;
    color: #ffffff;
    font-family: Lora, sans-serif;
    font-size: medium;
    font-weight: 300;
}


/* Footer */

.fa {
    color: #32863A;
    font-size: large;
    padding: auto;
}

.col-sm-4 {
    text-align: center;
    padding: 0 25;
}