{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated  %}
<form method="POST" action="edit">
    {% csrf_token %}
    {% if searched %}
        <p>You searched for {{ searched }}</p>

    {% else %}
        <p>Please enter you name to find your booking</p>

    {%endif%}


    {{ form }}

    <button type="submit" class="btn btn-secondary"> Submit Changes</button>
</form>
{% else %}
<a href="{% url 'login' %}">To edit you bookings please sign up </a> 
{%endif%}


{%endblock%}