{% extends "base.html" %}

{% block content %}

<section id="menus" class="background-image">
    <div class="box"></div>
        <h2 id="check-out-our-menus">Check out our menus</h2>
        <div id="lunch-menu">
            <div class="lunch-menu circle-container">
                <h2>Lunch Menu <i class="fas fa-salad"></i></h2>
                <hr>
                <p> <a href="#" target="_blank" rel="noopner" class="download-button"
                        aria-label="Download lunch menu (open in new tab)">Download our Lunch Menu Here <i
                            class="fas fa-file-pdf"></i></a></p>
            </div>
        </div>
        <div id="afternoon-tea-menu">
            <div class="afternoon-tea-menu circle-container">
                <h2>Afternoon Tea <i class="fa-solid fa-cake-slice"></i></h2>
                <hr>
                <p> <a href="#" target="_blank" rel="noopner" class="download-button"
                        aria-label="Download lunch menu (open in new tab)">Download our Afternoon Tea Menu Here <i
                            class="fas fa-file-pdf"></i></a></p>
            </div>
        </div>
        <div id="dinner-menu">
            <div class="dinner-menu circle-container">
                <h2>Dinner Menu <i class="fa-solid fa-pot-food"></i></h2>
                <hr>
                <p> <a href="#" target="_blank" rel="noopner" class="download-button"
                        aria-label="Download lunch menu (open in new tab)">Download our Dinner Menu Here <i
                            class="fas fa-file-pdf"></i></a></p>
            </div>
        </div>

    
</section>

{%endblock%}