{% extends "base.html" %}

{% block content %}

<section id="menus" class="background-image">
    <div class="menu_container">
        <h2 id="check-out-our-menus">Check out our menus</h2>
        <br>
        
            <h2><a href="/documents/lunch_menu.pdf" target="_blank" rel="noopner" class="menu_options">Lunch
                    Menu</a></h2>
            <p> <a href="/documents/lunch_menu.pdf" target="_blank" rel="noopner" class="download-button"
                    aria-label="Download lunch menu (open in new tab)">Download our Lunch Menu Here <i
                        class="fas fa-file-pdf"></i></a></p>
        
        <hr>
        
            
            <h2><a href="/documents/dinner_menu.pdf" target="_blank" rel="noopner" class="menu_options">Dinner
                    Menu</a>
            </h2>
            <p> <a href="/documents/dinner_menu.pdf" target="_blank" rel="noopner" class="download-button"
                    aria-label="Download lunch menu (open in new tab)">Download our Dinner Menu Here <i
                        class="fas fa-file-pdf"></i></a></p>
        
        <hr>
        
            <h2><a href="/documents/cocktail_menu.pdf" target="_blank" rel="noopner"
                    class="menu_options">Cocktail Menu <i class="fa-solid fa-cake-slice"></i></a></h2>
            <p> <a href="/documents/cocktail_menu.pdf" target="_blank" rel="noopner" class="download-button"
                    aria-label="Download lunch menu (open in new tab)">Download our Cocktail Menu Menu Here <i
                        class="fas fa-file-pdf"></i></a></p>
        

    </div>


</section>

{%endblock%}