{% extends "base.html" %}

{% block content %}

<section id="hero-outer">
    <div id="thank-you-image"></div>
    <div id="outer-box">
        <h2>Thank you for booking with us!</h2>
        <h3>Your booking has been successful. You will receive a confirmation email shortly</h3>
        <h4>To change or cancel your booking please <a class= "link" href="{% url 'account_logout' %}">log in here</a></h4>
        <h5>To view our menus please click <a class= "link" href="{% url 'bookingsystem:menus' %}">here</a></h5>
    </div>

</section>


{%endblock%}